.box{
  background-color:grey;
}
button{
  float:left;
}
#barra{
  margin-left:20px;
  float: left;
  height:50px;
  width: 200px;
  border:1px solid black;
}
.locandine{
  margin-left:20px;
  padding-top:100px;
}
img{
  height:20px;
  width:20px;
}
.fa-star{
  color:#ffe808;
}
.template{
  height: 501px;
  width:343px;
  margin-right:70px;
  float: left;
  margin-bottom:20px;
}
.prova{
  /* display:none; */
}
